[submodule "SpecFlow_PoC"]
	path = SpecFlow_PoC
	url = https://github.com/agustinjosew/SpecFlow_PoC
[submodule "SOLID_Training_PoC"]
	path = SOLID_Training_PoC
	url = https://github.com/agustinjosew/SOLID_Training_PoC
[submodule "DI_vs_DIP"]
	path = DI_vs_DIP
	url = https://github.com/agustinjosew/DI_vs_DIP
[submodule "NetCore_Docker"]
	path = NetCore_Docker
	url = https://github.com/agustinjosew/NetCore_Docker.git
[submodule "ArchStyle_vs_ArchPattern"]
	path = ArchStyle_vs_ArchPattern
	url = https://github.com/agustinjosew/ArchStyle_vs_ArchPattern.git
